.tr-box-inputs{
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.45);
  border: 0;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  color: white
}

.tr-rigth {
  float: right;
}

.tr-color-white {
  color: white;
}
