@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icons/icomoon.eot?fqi3z7');
	src:url('../fonts/icons/icomoon.eot?fqi3z7#iefix') format('embedded-opentype'),
		url('../fonts/icons/icomoon.ttf?fqi3z7') format('truetype'),
		url('../fonts/icons/icomoon.woff?fqi3z7') format('woff'),
		url('../fonts/icons/icomoon.svg?fqi3z7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-send:before {
	content: "\e900";
}
