
<div class="container">
  <!-- <form class="" action="index.html" method="post">
    <input class="tr-box-inputs" type="number" name="primerValor" placeholder="Ingrese el primer dato" required>
    <br><br>
    <input class="tr-box-inputs" type="number" name="primerValor" placeholder="Ingrese el segundo dato" required>
    <br><br>
    <input class="tr-box-inputs" type="number" name="primerValor" placeholder="Ingrese el tercer dato" required>

    <md-button class="md-icon-button" arial-label="Custom Icon Button">
      <md-icon md-svg-icon="icon-svg/trash5.svg"></md-icon>
    </md-button>
    <md-button class="md-icon-button tr-rigth" arial-label="Custom Icon Button">
      <md-icon md-svg-icon="icon-svg/send12.svg"></md-icon>
    </md-button>

  </form> -->

</div>
